@model HMS.Models.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<div class="admin-container">
    <div class="admin-contents">

        <h2>Admin Profile</h2>
        <table>
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>


            </tr>
            <tr>
                <th>Phone</th>
                <td>@Model.Phone</td>

            </tr>

            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>

        </table>
        <br>
        <p>
            <a class="btn" href="/Admin/UpdateAdmin/@Model.Id">Update Profile</a>
            <a class="btn btnList" href="/Admin/ListAdmin">List of Admin</a>
        </p>

    </div>

</div>
