
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Member_Request_service</title>
</head>
<body>
    <form action="/Member/Member_Request_service" method="post">

        <table>
            <tr>
                <td>MemberID</td>
                <td><input type="text" name="Member_ID" value="" /></td>
            </tr>

            <tr>
                <td>Service_Type</td>

                <td>
                    <input type="radio" name="Service_Type" id="Male" value="Laundry"><b>Laundry </b>
                    <input type="radio" name="Service_Type" id="Female" value="Cleaner"><b>Cleaner</b>


                </td>
            </tr>

            <tr>

                <td colspan="2"><input type="submit" name="submit" class="" value="submit">
            </tr>
        </table>


    </form>
</body>
</html>
