
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Member_Mealinfo</title>
</head>
<body>
    <form action="/Member/Member_Mealinfo" method="post">

        <table>


            <tr>
                <td>MemberID</td>
                <td><input type="text" name="Member_ID" value="" /></td>
            </tr>

            <tr>
                <td>Lunch</td>
                <td><input type="text" name="lunch" value="" /></td>
            </tr>

            <tr>
                <td>Dinner</td>
                <td><input type="text" name="Dinner" value="" /></td>
            </tr>

            <tr>
                <td>Breakfast</td>
                <td><input type="text" name="breakfast" value="" /></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" name="submit" class="" value="submit">
           </tr>

        </table>

    </form>
</body>
</html>
