<!DOCTYPE html>
<html>

<head>
    <title>@Page.Title</title>
    <link href="~/Content/Navbar.css" rel="stylesheet" type="text/css" />
   <link href="~/Content/admin.css" rel="stylesheet" type="text/css" />
   <link href="~/Content/forms.css" rel="stylesheet" type="text/css" />
    @RenderSection("head", required: false)
</head>

<body>
    <header id="navbar">
        <nav class="navbar container">
            <div class="logo">
                <a href="/Admin/index">
                    <h3>Easy Hostel Admin</h3>
                </a>
            </div>
            <ul class="links">
                <li><a href="/Admin/listStaff">Staffs</a></li>
                <li><a href="#Members">Members</a></li>
                    

                <li>
                    <a href="/Home/logout">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="rendered">
        @RenderBody()
    </div>


   @* <footer>
        <p class="copyright">Easy Hostel © 2022</p>
    </footer>*@
</body>

</html>
