@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}


<form action="/Home/Login" method="post">
    <h2 class="text-heading">Login to Hostel Portal</h2>
    <div class="form-container">
        <span class="text-info">@TempData["msg"]</span>
        <div class="form-control">
            <label for="name"><b>Id</b></label>
            <input type="text" placeholder="Enter Your ID" name="Id">
        </div>
        <div class="form-control">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password">
        </div>

        <input class="btn" type="submit" value="Login">
    </div>


</form>