
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MemberRegistration</title>
</head>
<body>
   
    <form action="/Home/MemberRegistration" method="post">


        <table>

            <tr>
                <td colspan="2" align="center">Member Registration Form</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name" value="" /> <br /></td>
            </tr>

            <tr>
                <td>password:</td>
                <td><input type="password" name="Password" value="" /><br /></td>
            </tr>

            <tr>
                <td>Age: </td>
                <td><input type="number" name="Age" value="" /><br /></td>
            </tr>

            <tr>
                <td>Gname:</td>
                <td> <input type="text" name="Gname" value="" /><br /></td>

            </tr>

            <tr>
                <td> Gender: </td>
                <td>
                    <input type="radio" name="Gender" id="Male" value="Male"><b>Male</b>
                    <input type="radio" name="Gender" id="Female" value="Female"><b>Female</b>
                    <input type="radio" name="Gender" id="Other" value="Other"><b>Other</b>

                </td>
            </tr>

            <tr>
                <td>Phone:</td>
                <td><input type="text" name="Phone" value="" /></td>
            </tr>

           
            <tr>

                <td colspan="2"><input type="submit" name="submit" class="" value="submit">
            </tr>
            

        </table>   


    </form>
</body>
</html>
